html,
body,
#root {
  width: 100%;
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  letter-spacing: 0.4rem;
  font-weight: lighter;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  padding: 0.7rem 1.6rem;
  /* margin: 0 -1px; */
}

button {
  cursor: pointer;
  text-transform: uppercase;
  background-color: white;
  border: 1px solid grey;
  padding: 0.8rem 1.6rem;
}